@{
    Layout = null;
}

<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/pencil_48.png")" alt="icon" /><br />
        Write an Article </span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        Create a New Page </span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/image_add_48.png")" alt="icon" /><br />
        Upload an Image </span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/clock_48.png")" alt="icon" /><br />
        Add an Event </span></a></li>
    <li><a class="shortcut-button" href="#messages" rel="modal"><span>
        <img src="@Url.Content("~/Content/images/icons/comment_48.png")" alt="icon" /><br />
        Open Modal </span></a></li>
</ul>
<!-- End .shortcut-buttons-set -->
<div class="clear">
</div>