<ul class="shortcut-buttons-set">
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        收信</span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        写信</span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        未读邮件</span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        红旗邮件</span></a></li>
    <li><a class="shortcut-button" href="#"><span>
        <img src="@Url.Content("~/Content/images/icons/paper_content_pencil_48.png")" alt="icon" /><br />
        紧急邮件</span></a></li>
</ul>
<div class="clear">
</div>
