@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content"><div class="inner_copy">More <a href="http://www.cssmoban.com/">Website Templates</a> at TemplateMonster.com!</div>
	<div class="wide-wrapper">
		<div class="content-container">
			<div class="info-box">
				<h3>Our<br/> Services</h3>
				<ul id="services">
					<li><a href="#">Operations consulting</a></li>
					<li><a href="#">Program and project management</a></li>
					<li><a href="#">Technology and innovation</a></li>
					<li><a href="#">Information technology</a></li>
					<li><a href="#">People and organizational change</a></li>
				</ul>
			</div>
			<div class="info-box wide-box">
				<h3>Our Work is Dedicated<br/> to the Prosperity of Our Clients!</h3>
				<div>
					<p>
						<img src="@Url.Content("~/Content/images/photo-man.jpg")" class="photo" alt="" /><strong>Bizz Group</strong> is a free template created by <a href="#">TemplateMonster.com</a> team. This website template is optimized for 1024X768 screen resolution. It can be delivered in two packages - with PSD source files included and without them. If you need source files, please leave us your e-mail address.
					</p>
					<p>
						This website template has several pages: <a href="#">Home</a>, <a href="#">About</a>, <a href="#">Articles</a> (with <a href="#">Article</a> page), <a href="#">Contacts</a> (note that contact us form – doesn’t work), <a href="#">Site Map</a>.
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="content-container middle-side">
		<div class="info-box">
			<h4>Advice Center</h4>
			<div class="align-content">
				<p><img src="@Url.Content("~/Content/images/photo-girl-1.jpg")" class="photo" alt="" /></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div>
			<a href="#" class="readmore-small"><img src="@Url.Content("~/Content/images/read-more-btn.png")" alt="" /></a>
		</div>
		<div class="info-box">
			<h4>News &amp; Events</h4>
			<div class="align-content">
				<p>
					<strong class="date">27/09/2010</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium <a href="#">...</a>
				</p>
				<p>
					<strong class="date">24/09/2010</strong> totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo <a href="#">...</a>
				</p>
			</div>
			<a href="#" class="readmore-small"><img src="@Url.Content("~/Content/images/read-more-btn.png")" alt="" /></a>
		</div>
		<div class="info-box">
			<h4>About Template</h4>
			<div class="align-content">
				<p>
					Free 1028X768 Optimized Website Template from <a href="#">TemplateMonster.com</a>! We hope that you like this template and will use for your websites.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam.
				</p>
			</div>
			<a href="#" class="readmore-small"><img src="@Url.Content("~/Content/images/read-more-btn.png")" alt="" /></a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="wide-wrapper">
		<div class="content-container">
			<div class="info-box">
				<h3>Stay In Touch</h3>
				<div id="social-icons">
					<a href="#"><img src="@Url.Content("~/Content/images/facebook-icon.png")" alt="Facebook" /></a>
					<a href="#"><img src="@Url.Content("~/Content/images/delicious-icon.png")" alt="Delicious" /></a>
					<a href="#"><img src="@Url.Content("~/Content/images/su-icon.png")" alt="StumbleUpon" /></a>
					<a href="#"><img src="@Url.Content("~/Content/images/twitter-icon.png")" alt="Twitter" /></a>
					<a href="#"><img src="@Url.Content("~/Content/images/linkedin-icon.png")" alt="LinkedIn" /></a>
					<a href="#"><img src="@Url.Content("~/Content/images/alien-icon.png")" alt="Reddit" /></a>
				</div>
				<dl id="contacts">
					<dt class="email">Email:</dt>
					<dd><a href="mailto:bizzgroup@mail.ru">bizzgroup@mail.ru</a></dd>
					<dt class="skype">Skype:</dt>
					<dd><a href="skype:bizzgroupskypename?call">bizzgroupskypename</a></dd>
				</dl>
			</div>
			<div class="info-box">
				<h3>Our Mission</h3>
				<p>
At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga harum qu idem rerum.
				</p>
			</div>
			<div class="info-box">
				<img src="@Url.Content("~/Content/images/photo-girl-2.jpg")" class="photo" alt="" />
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>